.MainContainer{
    padding-top: 10%;
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

}

.Greetings{
    font-size: 5rem;
    color: darkgray;
}

.CentralText{
    color: dimgray;
    font-size: 1.5rem;
}

.ButtonStyle{
    border: none;

}
