.MainContainer{
    padding-top: 10%;
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.Greetings{
    font-size: 5rem;
    color: white;
    font-weight: bold;
    align-items: center;
    align-content: center;

}

.CentralText{
    color: white;
    font-size: 1.5rem;
    margin-left: 5%;
    align-items: center;
    align-content: center;
}

.YellowText{
    color:yellow;
    text-decoration: none;
}

.UploadContainer {
    display: flex;
    flex-direction: row;

}

.UploadButton{
    border: none;
    background: yellow;
    height: 3rem;
}
